	<h2>Quand s'inscrire&nbsp;?</h2>
	<p class="marge">Un 1<sup>er</sup> recensement, annuel, se fait via FORMAT, lors de la mise en ligne du plan de formation&nbsp;: de mi-novembre à mi décembre.</p>
	<p class="marge">Au cours de cette période, chaque collaborateur exprime ses demandes d’inscription, les demandes sont ensuite soumises au manager pour validation.</p>
	<div class="encarticon attention">
		<p><span class="underline">Important</span> : passé cette 1<sup>ère</sup> étape de recensement, la fonctionnalité est à nouveau active, et ce tout au long de l’année.</p>
		<p>Chacun peut ainsi, à tout moment, effectuer de nouvelles demandes, en fonction des nouveaux besoins de formation identifiés.</p>
	</div>

	<br />
	<h2>Comment s'inscrire&nbsp;?</h2>
	<p>Toujours via FORMAT, en utilisant la fonctionnalité "demande de formation".</p>
	<div class="encarticon attention">
		<p><span class="underline">Attention</span>, toutes les actions de formation ne sont pas "ouvertes aux inscriptions".</p>
		<p>Pour certains dispositifs, les inscriptions se font exclusivement par la DRH-Formation, c’est le cas notamment :</p>
		<p>-&nbsp;des "parcours métier"</p>
		<p>-&nbsp;des "actions stratégiques"</p>
	</div>

	<br />
	<h2>Comment savoir si mes demandes d’inscription sont acceptées&nbsp;?</h2>
	<p>A la fonctionnalité Format "Demande de formation – liste des demandes".</p>
	<p>-&nbsp;En regard des demandes acceptées, s’affiche l’intitulé "en cours de planification"</p>
	<p>-&nbsp;En regard des demandes non validées, s’affiche l’intitulé "demande refusée" (avec accès au motif de refus)</p>

	<br />
	<h2>Une journée de formation est bloquée dans mon agenda, je n’ai pas gardé le mail d’invitation…</h2>
	<p class="marge">La transaction "planning formation"  vous permet de retrouver toutes les informations&nbsp;:</p>
	<p class="marge">&gt; Intitulé, date et lieu.</p>
	<div class="encarticon memo">
		<p>Dès que vous recevez le message d’invitation en formation</p>
		<p>-&nbsp;Votre agenda et votre LSRH sont mis à jour</p>
		<p>-&nbsp;Vous pouvez accéder, à partir du message, à la fiche descriptive de la formation et à la note récapitulant les modalités pratiques</p>
		<p>Pour vos déplacements&nbsp;?</p>
		<p>-&nbsp;Il vous appartient d'organiser votre déplacement (transports … hôtel), sur la base des règles en vigueur dans l'entreprise.</p>
		<p>Dès le lendemain de votre formation&nbsp;:</p>
		<p>-&nbsp;Une NDF pré-emplie des données du stage est créée automatiquement, un message vous en informe.</p>
		<p>Les NDF sont à renseigner et à transmettre avec les justificatifs rapidement&nbsp;!</p>
	</div>