<div class="separ48"></div>
<div style="float:left;width:400px;height:512px;background:transparent url('{{ page.goabs }}images/interloc2.png') left 10px no-repeat;"></div>
<div style="margin-left:410px;">
	<div class="encarticon attention">
		<p>
			Vous avez une question ?<br />
			Une remarque, une suggestion ?<br />
			Un besoin de formation ?
		</p>
		<p class="bold-plus blue">&gt; N'hésitez pas à nous contacter</p>
	</div>
	<br />

	<div class="container-70p container-ctr">
		<h3 class="underline">L'équipe formation</h3>
		<p class="left">
			•&nbsp;Edith BOUSSEMART<br />
			•&nbsp;Elisa NOURY<br />
			•&nbsp;Christina GUENAND<br />
			•&nbsp;Caroline VOETEN<br />
			•&nbsp;Philippe DÉJÀ<br />
			•&nbsp;Anne DEMARBAIX<br />
			•&nbsp;Isabelle COCHEZ<br />
			•&nbsp;Bernadette CRESPEL
		</p>
		<h3 class="underline">Les formateurs Métier en Région</h3>
		<p class="left">
			•&nbsp;François BRETON<br />
			•&nbsp;Jean-Pierre HUBERT<br />
			•&nbsp;Jean-Léon HERNOULT
		</p>
		<h3 class="underline">Les formateurs Ecole de ventes</h3>
		<p class="left">
			•&nbsp;Pierre-Marie VILLAIN <span class="italique" title="Responsable Ecole de Vente">(Responsable EDV)</span><br />
			•&nbsp;Patricia MANET<br />
			•&nbsp;Brigitte LAGRUE<br />
			•&nbsp;Patrick SOHIER
		</p>
	</div>
</div>
