<h4>Les PARCOURS METIER</h4>
<h2>
	<div class="iconvert iconvert-1"></div>
	<p>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…</p>
</h2>
<div class="separ separ2"></div>
<h3>
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<div class="separ separ2"></div>
<table class="tables pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Les outils du marché PRO</td>
		<td>L'ensemble des outils du marché PRO<br />
			Ouverture de comptes, outils d'instruction des crédits…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Parcours Chargé d’Affaires Professions Libérales</td>
		<td><i>La démarche conseil, l'approche globale et les spécificités de la clientèle Professions Libérales.</i><br />
			Connaissances techniques: monétique et gestion des FSE - offre flux - crédit Bail - protection sociale.<br />
			Démarche comportementale&nbsp;: connaissances des professions libérales – la conduite de l’entretien – la prise de RDV par tel. – la recommandation.
		</td>
		<td>8 j<br />étalés sur 1 an</td>
	</tr>
</table>
<br />