<h1>
	<span>{{ page.data.h1|raw }}</span>
</h1>
<h2>
	<div class="iconvert iconvert-1"></div>
	<p><b>Les formations liées au contrôle et à la réglementation</b><br />
	La formation et l'actualisation des connaissances sur les domaines de la réglementation sont des exigences qui s'appliquent strictement à nos métiers.<br />
	La priorité actuelle tant de l'AMF que de l'ACP, demeure la protection de la clientèle, et notamment<br />
	- le respect des droits du consommateur (mobilité bancaire, CNIL…)<br />
	- la qualité de la démarche commerciale (information du client, devoir de conseil…)<br />
	- le traitement des réclamations<p>
</h2>
<div class="separ separ2"></div>
<h3>
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<div class="separ separ2"></div>
<table class="tables pave">
	{% include "entete-tablespage.html" %}
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les formations incontournables, systématisées dans les parcours métier</b>
		</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<i>Pour tous les nouveaux embauchés</i>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Prévention, sécurité  et lutte contre le blanchiment</td>
		<td>La sécurité des opérations et des biens, la lutte contre le blanchiment, la déontologie.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Séquences d'auto-formation via Athéna</td>
		<td>TRACFIN<br />
			Recueil de déontologie CM CIC - Sensibilisation à la conformité - Sensibilisation sécurité, protection des personnes et des biens - Protection de la vie privée / CNIL - Prévention incendie<br />
			Recyclage des espèces<br />
			Réglementation MIF - Conseil en Investissement financier - Aeras
		</td>
		<td>30 mn<br />en moyenne selon les séquences</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<i>Pour les nouveaux commerciaux</i>
		</td>
	</tr>
	<tr class="bichro0">
		<td>La Certification AMF</td>
		<td><i>Un pré-requis obligatoire à toute fonction commerciale, pour pouvoir informer ou conseiller les clients en vue  de transactions sur instruments financiers.</i><br />
			Ce dispositif se déroule en 2 temps : Formation en salle et  examen de certification.<br />
			- Les connaissances réglementaires et déontologiques (la réglementation abus de marché, devoir de conseil…)<br />
			- Les connaissances techniques (instruments et produits financiers, fonctionnement des marchés, post-marché, bases financières…).
		</td>
		<td>6 j</td>
	</tr>
	<tr class="bichro1">
		<td>Le Passeport Assurances</td>
		<td><i>Dispositif  lié à la gamme CIC Assurances</i><br />
			- La gamme " auto -  habitation – prévoyance – santé ". Le réglementaire.<br />
			- La démarche commerciale.
		</td>
		<td>11 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<i>Pour les nouveaux Directeurs d'Agence</i>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Plusieurs modules thématiques</td>
		<td>Contrôle interne  et risques opérationnels (1&nbsp;j)<br />
			Sécurité des biens et des personnes (1&nbsp;j)<br />
			Conformité - Réglementation Informatique et Liberté (1&nbsp;j)<br />
			Réglementation prudentielle et Lutte Anti-Blanchiment (1&nbsp;j)
		</td>
		<td>4 j</td>
	</tr>
</table>
<br />