<div class="container_text">
	<h2>Les modalités d'inscription aux actions de formation</h2>
	<p>Selon les dispositifs, les inscriptions en formation  sont soit systématisées, soit à votre initiative et dans ce cas à formuler via FormaT.</p>
	<p class="ital">Les dispositifs pour les quels les inscriptions sont systématisées.<br />
		NB : ces dispositifs  ne sont pas "ouverts" aux inscriptions individuelles via FormaT.
	</p>
	
	<h2>Les ACTIONS STRATEGIQUES</h2>
	<p>Les actions stratégiques accompagnent  les enjeux, ambitions et nouveautés stratégiques de l'année.<br />
		Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.
	</p>
	<p>Elles sont organisées (calendrier de déploiement, animation, collaborateurs à convier) en lien avec chacune des Directions concernées.</p>
	<p>Elles ont un caractère obligatoire,<br />
		les inscriptions sont faites directement par l'équipe formation.<br />
		Ces actions ne sont pas ouvertes aux inscriptions via FormaT.
	</p>

	<h2>Les INCONTOURNABLES et les PARCOURS METIERS</h2>
	<p>Ces dispositifs de formation accompagnent votre prise de fonction.<br />
		Parce que vous venez d'intégrer le CIC NO, et/ou par ce que vous évoluez vers une nouvelle fonction.
	</p>
	<p>Pour vous permettre  de vous approprier progressivement, l'ensemble des connaissances, techniques et méthodes liées à votre métier.</p>
	<p>Directement liées à une évolution professionnelle , les inscriptions sont systématisées, en lien avec votre GRH.</p>
	<p>Vous n'avez donc pas de demande d'inscription à formuler.</p>
	<p class="ital">Les dispositifs organisés en fonction des demandes d'inscriptions.<br />
		NB : pour ces dispositifs les demandes d'inscriptions sont à formuler via FormaT.
	</p>

	<h2>Les ACTIONS DE PERFECTIONNEMENT</h2>
	<p>Ces actions de formation  permettent de consolider les connaissances, d'entraîner dans l'application des méthodes.<br />
		Complémentaires aux actions stratégiques et parcours métier, elles vous aident à gagner en expertise.
	</p>
	<p>Liées aux besoins individuels, les demandes d'inscription sont à formuler par chacun, Collaborateur ou Manager, directement Via FormaT.<br />
		Les inscriptions sont possibles tout au long de l'année.
	</p>
</div>