{% extends "root.html" %}
{% block body %}
	<!-- PAGE&nbsp;: {{ page.nom }} -->
	<div id="BIG" class="fadein fill-itnr" data-effect="0|200" style="background-image:url('{{ page.go }}{{ page.data.background }}');">
		<div class="separ24"></div>
		<h1 class="h1choix">{{ page.data.h1|raw }}</h1>
		<!-- <div class="separ24"></div> -->
		<!-- <div class="separ48"></div> -->
		<!-- <div class="separ48"></div> -->
		<!-- <div class="separ180"></div> -->
		<!-- <div class="separ180"></div> -->
		{% if page.menu.choix is defined %}
		<div class="container_choix">
			<div class="choix">
				<table class="tchoix">
					<tr>
						{% for item in page.menu.choix.item %}
						<td>
							<a href="{{ page.go }}{{ pages[item.url].url }}" class="boutonChoix{{ loop.index }} fadein" data-effect="{{ item['data-effect'] }}"></a>
						</td>
						{% endfor %}
					</tr>
				</table>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock body %}