<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
</h2>
<div class="separ separ2"></div>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<div class="separ separ2"></div>
<table class="tables table-condensed pave">
	{% include "entete-tablespage4.html" %}
	<tr class="bichro0">
		<td>Gestion et transmission du patrimoine du dirigeant (niveau 2)</td>
		<td>Les attentes des dirigeants d'entreprises sur l'optimisation de leur patrimoine.<br />
			Les nouveautés fiscales et juridiques, les exploiter pour suggérer des actions.<br />
			Proposer aux dirigeants d'entreprises des opérations patrimoniales.
		</td>
		<td>2 j</td>
		<td>Gérant privé<br />DABP</td>
	</tr>
	<tr class="bichro1">
		<td>Dirigeants et structuration d’entreprise</td>
		<td>Maîtriser les mécanismes d'apport, de transformation - restructuration, d'intégration fiscale et de transmission de société.<br />
			Accompagner et guider les clients dans leur choix d'optimisation patrimonial.
		</td>
		<td>2 j</td>
		<td>Gérant privé<br />DABP</td>
	</tr>
	<tr class="bichro0">
		<td>Piloter l’allocation d’actifs (module d’actualisation)</td>
		<td>Les dernières évolutions de la méthode d'allocation d'actifs CIC BP.<br />
			Les nouveautés de l'offre CIC Banque Privée.<br />
			Utiliser et mettre en valeur les méthodes et les outils.
		</td>
		<td>1 j</td>
		<td>Gérant privé<br />DABP</td>
	</tr>
	<tr class="bichro1">
		<td>Lecture patrimoniale des comptes de l'entreprise</td>
		<td>Utiliser la liasse fiscale et visualiser synthétiquement les comptes de l'entreprise.<br />
			Estimer approximativement la valeur de l'entreprise pour en connaître le potentiel patrimonial.<br />
			Exploiter les données de la liasse fiscale, détecter les opportunités de conseils patrimoniaux, vendre nos services ou produits appropriés.
		</td>
		<td>1 j</td>
		<td>Gérant privé<br />DABP</td>
	</tr>
	<tr class="bichro0">
		<td>Ingénierie immobilière (expertise)</td>
		<td>Les techniques de structuration de l'investissement immobilier (détention directe, indirecte, titrisation, démembrement d'actif ou de passif, gestion de l'accumulation, transmission).<br />
			Les schémas financiers dans l'organisation juridique (Crédit-bail immobilier, Bail à construction).<br />
			La diversification de l'investissement immobilier (investissements fonciers atypiques (forêts - vignobles - terres agricoles), l'achat à l'étranger, structuration, gestion de l'imposition des flux et des stocks
		</td>
		<td>2 j</td>
		<td>IFP</td>
	</tr>
	<tr class="bichro0">
		<td>L'entreprise familiale (expertise)</td>
		<td>Le cadre réglementaire de l'entreprise familiale.<br />
			Les techniques de structuration de l'entreprise en vue de sa transmission.<br />
			Les valeurs sous-jacentes de l'entreprise familiale. 
		</td>
		<td>2 j</td>
		<td>IFP</td>
	</tr>
	<tr class="bichro1">
		<td>Mener un EADC</td>
		<td><i>Adapter ses pratiques managériales à la démarche EADC.</i><br />
			Conduire des entretiens d'Appréciation et de Développement des Compétences à l'aide des outils et méthodes de l'entreprise.<br />
			Contribuer à la gestion des carrières en identifiant et renforçant les compétences de ses collaborateurs.<br />
			Accompagner ses collaborateurs dans l'appropriation de la démarche, la préparation des entretiens, la mise en ouvre des actions définies dans les EADC.
		</td>
		<td>1 j</td>
		<td>DABP</td>
	</tr>
</table>
<br />