<h4>Les INCONTOURNABLES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous approprier dès votre arrivée,<br />les outils et applicatifs de votre poste de travail,<br />les  intournables liés à l'exercice de nos métiers.<br />
</h2>
<div class="separ separ2"></div>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont systématisées, en lien avec votre GRH.
</h3>
<div class="separ separ2"></div>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
</table>
<br />