<h4>Les PARCOURS METIER</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
</h2>
<div class="separ separ2"></div>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<div class="separ separ2"></div>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Parcours Directeur d'Agence Grand Public</td>
		<td><i>L'ensemble des domaines que couvre la fonction directeur d'agence.</i>
			Ce parcours se décline en 2 temps&nbsp;:<br />
			<u>Au moment de la prise de fonction</u><br />
			- L’organisation de l’agence (Organisation - Contrôle interne - Comptabilité)<br />
			- Le pilotage commercial (Organisation commerciale - Pilotage commercial et financier)<br />
			- Le management (Management d’équipe - Animation de  réunion - Gestion des RH – Sécurité des personnes et des biens)<br />
			- Le pilotage du risque, de la rentabilité, de la conformité (Déontologie/Réglementation -  Risques et recouvrement/Risques opérationnels – Réglementation prudentielle/LAB)<br />
			<u>Après prise de fonction,</u><br />
			Le management (Mobiliser son équipe pour conquérir et fidéliser – EADC)
		</td>
		<td>23&nbsp;j +&nbsp;5&nbsp;j</td>
	</tr>
</table>
<br />