<h4>Les ACTIONS STRATEGIQUES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<div class="separ separ2"></div>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<div class="separ separ2"></div>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Vendre la nouvelle offre assurance AUTO</td>
		<td><i>Repositionner les offres ACM dans le marché en intégrant les nouveaux comportements des assurés, tout en proposant de nouvelles approches tarifaires pour tous les budgets</i>.<br />
			- L’offre produit et la réglementation, les outils, la démarche commerciale.</td>
		<td>0,5 j</td>
	</tr>
	<tr class="bichro1">
		<td>Actualités économiques juridiques et fiscales du patrimonial</td>
		<td><i>L’actualité juridique, réglementaire et fiscale.</i><br />
			- Comprendre et intégrer les nouveautés  pour optimiser le conseil à la clientèle, voire les transformer en opportunités commerciales.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Promouvoir nos offres technologiques – Gérer les flux</td>
		<td><i>Nouveautés et approfondissement sur la démarche commerciale liées aux flux.</i><br />
			- Intégrer les nouvelles offres (Fivory…), les modalités de souscription…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Accompagner nos clients Professions Libérales</td>
		<td>2 Ateliers thématiques avec rappels de la démarche commerciale.<br />
			- Approdondissment sur thématiques techniques<br />
			- Entraînement sur les techniques d’entretien client (prise de RDV, Reco, Négo…)
		</td>
		<td>1 j<br />par atelier</td>
	</tr>
</table>
<br />