@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
/*@import url(http://fonts.googleapis.com/css?family=Krona+One);*/
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

@charset "utf-8";
/* CSS Document */

* {
	font-family: 'Montserrat', "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	/*font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;*/
	/*font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
	text-decoration:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

*:focus	{outline: none;}
img		{border: none;}
a		{color: #999;text-decoration: none;}
a:hover	{text-decoration: underline;}
ul		{list-style-type: none;}

html, body {
	height:100%;
}

div#test {
	background-color: #555;
	text-align: left;
	color: white;
	font-size: 14px;
	line-height: 18px;
	height: 18px;
	width: 100px;
	position: absolute;
	top: 10px;
	left: 100px;
	padding: 0px 6px;
}
.fill {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.fill-it {
	background-repeat: repeat;
	background-position: left top;
	background-size: contain;
}
.fill-itnr {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

.fill70 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
}
.fadein {
	display: none;
}
.separ {
	clear: both;
	display: block;
}
.separ16 { height: 16px; }
.separ24 { height: 24px; }
.separ48 { height: 48px; }
.separ180 { height: 180px; }


  /***************************/
 /* STYLES STANDARDS        */
/***************************/
.gras {
	font-weight: bold;
}


  /***************************/
 /* STRUCTURE DE PAGE       */
/***************************/
body {
	background-color: #02468b;
}

div#BIG {
	width: 100%;
	height: 100%;
	text-align: center;
	/*height: 640px;*/
}
div#BIG800 {
	position: relative;
	margin: 0px auto;
	height: 680px;
	width: 1000px;
}
div.BIG_accueil {
	background:red;
}
div.BIG_neutre {
	background:orange;
}
video {
	z-index:0;
}

div#navigator {
	position: fixed;
	top: 8px;
	left: 0px;
	width: 100%;
	height: 40px;
	z-index: 1000;
}
div#navigatorIE {
	display: block;
	width: 100%;
	height: 40px;
	z-index: 1000;
}
div#navigatorIE >div.fleche-gauche,
div#navigatorIE >div.fleche-droite,
div#navigatorIE >div.fleche-gauche >a,
div#navigatorIE >div.fleche-droite >a,
div#navigator >div.fleche-gauche,
div#navigator >div.fleche-droite,
div#navigator >div.fleche-gauche >a,
div#navigator >div.fleche-droite >a {
	display: block;
	height: 40px;
	width: 40px;
}
div#navigatorIE >div.fleche-gauche >a,
div#navigatorIE >div.fleche-droite >a,
div#navigator >div.fleche-gauche >a,
div#navigator >div.fleche-droite >a {
	cursor: pointer;
}
div#navigatorIE >div.fleche-gauche,
div#navigator >div.fleche-gauche {
	float: left;
	background:transparent url("images/fleches2.png") left top no-repeat;
	margin-left: 8px;
}
div#navigatorIE >div.fleche-droite,
div#navigator >div.fleche-droite {
	float: right;
	background:transparent url("images/fleches2.png") -40px top no-repeat;
	margin-right: 8px;
}
#homeButton {
	cursor: pointer;
	display: block;
	position: fixed;
	bottom: 0px;
	left: 0px;	display: block;
	height: 64px;
	width: 64px;
	margin: 0px;
	background:transparent url("images/retour.png") center top no-repeat;
}

div#mentions {
	position: absolute;
	bottom: 8px;
	left: 76px;
	z-index: 999;
	width: auto;
	height: auto;
	padding-right: 390px; /* pour laisser la place à la signature à droite */
	display: block;
	font-size: 10px;
	color: white;
	text-align: left;
	font-weight: normal;
}

div.sprite,
div.ctrlsprite {
	position: absolute;
	display: none;
}


  /***************************/
 /* page_01_01_1            */
/***************************/

ul.sommaire1, ul.sommaire2, ul.choix {
	list-style-type: none;
	display: block;
	margin: 0px auto;
	width: 650px;
}
ul.sommaire2 {
	width: 100%;
}
ul.choix {
	width: 100%;
}
ul.sommaire1 >li {
	display: inline-block;
	width: 126px;
}
ul.sommaire2 >li {
	display: inline-block;
	width: 232px;
}
ul.choix >li {
	display: inline-block;
	width: 206px;
}

.bouton01 {
	display: block;
	width: 126px;
	height: 54px;
}
li:hover >.bouton01 {
	background-position: 0px -54px;
}
.bouton02 {
	display: block;
	width: 232px;
	height: 68px;
}
li:hover >a.bouton02 {
	background-position: 0px -68px;
}

.boutonChoix1, .boutonChoix2, .boutonChoix3 {
	display: block;
	width: 206px;
	height: 251px;
	background: transparent url(../images/iconChoix_1.png) 0px 0px no-repeat;
}
.boutonChoix2 {
	background-image: url(../images/iconChoix_2.png);
}
.boutonChoix3 {
	background-image: url(../images/iconChoix_3.png);
}

.forh1 {
	display: inline-block;
	/*float:left;*/
	margin:0px 12px -5px 80px;
}

#bout01011-05 {
	background: transparent url('../images/p3_boutons_05.png') 0px 0px no-repeat;
}
#bout01011-07 {
	background: transparent url('../images/p3_boutons_07.png') 0px 0px no-repeat;
}
#bout01011-09 {
	background: transparent url('../images/p3_boutons_09.png') 0px 0px no-repeat;
}
#bout01011-11 {
	background: transparent url('../images/p3_boutons_11.png') 0px 0px no-repeat;
}
#bout01011-13 {
	background: transparent url('../images/p3_boutons_13.png') 0px 0px no-repeat;
}
#bout01011-14 {
	background: transparent url('../images/p3_boutons_14.png') 0px 0px no-repeat;
}
#bout01011-15 {
	background: transparent url('../images/p3_boutons_15.png') 0px 0px no-repeat;
}
#bout01011-16 {
	background: transparent url('../images/p3_boutons_16.png') 0px 0px no-repeat;
}
#bout01011-17 {
	background: transparent url('../images/p3_boutons_17.png') 0px 0px no-repeat;
}
#bout01011-18 {
	background: transparent url('../images/p3_boutons_18.png') 0px 0px no-repeat;
}
#bout01011-19 {
	background: transparent url('../images/p3_boutons_19.png') 0px 0px no-repeat;
}
#bout01011-20 {
	background: transparent url('../images/p3_boutons_20.png') 0px 0px no-repeat;
}
#bout01011-21 {
	background: transparent url('../images/p3_boutons_21.png') 0px 0px no-repeat;
}

#bout01011-28 {
	background: transparent url('../images/p3_boutons_28.png') 0px 0px no-repeat;
}
#bout01011-30 {
	background: transparent url('../images/p3_boutons_30.png') 0px 0px no-repeat;
}
#bout01011-32 {
	background: transparent url('../images/p3_boutons_32.png') 0px 0px no-repeat;
}

#bout01022-06 {
	background: transparent url('../images/p4_boutons_06.png') 0px 0px no-repeat;
}


h1.h1choix {
	font-family: 'Quicksand', sans-serif;
	font-size: 70px;
	font-weight: 400;
	color: #fff;
	/*letter-spacing: 1px;*/
	text-shadow: -2px 2px 3px #000;
	/*margin: 18px 0px 20px;*/
	text-align: center;
}

div.iconfleche {
	float: left;
	display: inline-block;
	width: 70px;
	height: 48px;
	background: transparent url(../images/iconeFleche.png) 0px 0px no-repeat;
	margin-right: 12px;
}

div.iconvert {
	float: left;
	display: inline-block;
	width: 64px;
	height: 64px;
	background: transparent url(../images/pictos.png) 0px 0px no-repeat;
	margin: 0px 12px 0px 80px;
}
div.iconvert-1 {
	background-position: 0px 0px;
}
div.iconvert-2 {
	background-position: 0px -64px;
}
div.iconvert-3 {
	background-position: 0px -128px;
}

.tabletitlesh1,
.tabletitlesh2,
.tabletitlesh3 {
	text-align: left;
	padding: 0px;
}
.tabletitlesh1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 1px;
	text-shadow: -2px 2px 3px #000;
	margin: 8px 0px 20px;
}
.tabletitlesh1 span {
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
}
.tabletitlesh2 {
	font-size: 16px;
	line-height: 20px;
	color: #dd4b26;
	font-weight: bolder;
	margin: 6px 0px;
}
.tabletitlesh3 {
	font-size: 16px;
	line-height: 16px;
	color: #27377e;
	font-weight: bold;
	margin: 6px 0px;
}
.tabletitlesh3 i {
	font-style: normal;
	font-variant: normal;
	font-size: 0.8em;
	font-weight: normal;
}

/* tables */
table.table {
}

table.table,
table.table tr,
table.table td {
	border: 1px solid #000;
}
/* pave */
table.table tr,
table.pave tr.bichro0 {
	background-color: #aae2e1;
}
table.pave tr.bichro1 {
	background-color: #89dcd8;
}
table.pave tr td {
	font-size: 12px;
	line-height: 14px;
}
table.pave tr >td:first-child {
	text-align: left;
	/*letter-spacing: 1px;*/
	font-size: 14px;
	font-weight: 700;
	width: 21%;
}
table.pave tr >td:first-child +td {
	text-align: left;
	font-weight: 400;
}
table.pave tr >td:first-child +td +td,
table.pave tr >td:first-child +td +td +td {
	text-align: center;
	letter-spacing: -1px;
	font-weight: 700;
	vertical-align: middle;
	width: 12%;
}

table.pave tr.pave-inter {
	background-color: #c8f7f6;
}
table.pave tr.pave-inter >td {
	font-weight: 700;
	color: #27377e;
}
table.pave tr.pave-inter >td i {
	font-weight: 400;
	font-size: 0.8em;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}







