{% include "entete.html" %}
<title>{{ page.data.title }}</title>
{% include "styles.html" %}
</head>
<body>
	<!-- PAGE : {{ page.nom }} -->
	{% if page.menu.menuhaut is defined %}
	{% include page.menu.menuhaut.modele with {items: page.menu.menuhaut.item} %}
	{% endif %}
	<div id="BIG" style="background:transparent url('{{ page.go }}{{ page.data.background }}') center top no-repeat;">
		{% include "video_import.html" %}
		{% if page.animation is defined %}
		{% include "sprites.html" with {sprites: page.animation } %}
		{% endif %}
	</div>
	{% if page.data.baseline is defined %}
	{% include page.data.baseline ignore missing %}
	{% endif %}

	{% include "mentions.html" %}

	{% include "javascripts.html" %}
</body>
</html>