{% if page.data.videoALT is defined %}
<!-- http://www.alsacreations.com/article/lire/1125-introduction-balise-video-html5-mp4-h264-webm-ogg-theora.html -->
			<!-- Ici import de la vidéo -->
			<div id="videobloc">
				<!--[if IE]>
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="640" height="480" id="myFlashContent">
					<param name="movie" value="{{ page.go }}video/{{ page.data.videoSWF }}" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="{{ page.go }}video/{{ page.data.videoSWF }}" width="640" height="480">
					<!--<![endif]-->
						<img src="{{ page.go }}images/{{ page.data.videoALT }}" style="width:640px;height:480px;" />
					<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</div>
{% endif %}
{% if page.data.fixvideo is defined %}
			<div id="videobloc">
				<img src="{{ page.go }}images/{{ page.data.fixvideo }}" style="width:640px;height:480px;" />
			</div>
{% endif %}
			{% if page.data.menuvideoConf1 is defined %}
				{% for menu in menus.menuvideoConf1.items %}
				<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.nom }}" class="optivid"></a>
				{% endfor %}
			{% endif %}
			{% if page.data.menuvideoConf2 is defined %}
				{% for menu in menus.menuvideoConf2.items %}
				<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.nom }}" class="optivid"></a>
				{% endfor %}
			{% endif %}
			{% if page.data.menuvideoConf3 is defined %}
				{% for menu in menus.menuvideoConf3.items %}
				<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.nom }}" class="optivid"></a>
				{% endfor %}
			{% endif %}
			{% if page.data.menuvideoTart1 is defined %}
				{% for menu in menus.menuvideoTart1.items %}
				<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.nom }}" class="optivid"></a>
				{% endfor %}
			{% endif %}
			{% if page.data.menuvideoTart2 is defined %}
				{% for menu in menus.menuvideoTart2.items %}
				<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.nom }}" class="optivid"></a>
				{% endfor %}
			{% endif %}
			{% if page.data.menuvideoTart3 is defined %}
				{% for menu in menus.menuvideoTart3.items %}
				<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.nom }}" class="optivid"></a>
				{% endfor %}
			{% endif %}