{% extends "root.html" %}
{% block body %}
	<!-- PAGE : {{ page.nom }} -->
	<div id="BIG800" class="fadein fix" data-effect="0|400" style="background-image:url('{{ page.go }}{{ page.data.background }}');">
		{% if page.data.sommaire1 is defined %}
			{% for menu in menus.sommaire1.items %}
			<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.id }}" data-effect="{{ menu['data-effect'] }}" class="boutonSommaire1 fadein somm1hover"></a>
			{% endfor %}
		{% endif %}
		{% if page.data.sommaire2 is defined %}
			{% for menu in menus.sommaire2.items %}
			<a href="{{ page.go }}{{ pages[menu.url].url }}" id="{{ menu.id }}" data-effect="{{ menu['data-effect'] }}" class="boutonSommaire2 fadein"></a>
			{% endfor %}
		{% endif %}
	</div>
{% endblock body %}