<div class="container_text">
	<h2>FORMAT - Pour accéder à toutes les informations relatives aux formations</h2>
	<p>Comment y accéder&nbsp;?</p>
	<p class="ital">Directement à partir du portail, saisir FORMAT dans la zone express</p>
	<table class="table table-responsive table-condensed page">
		<tr>
			<th colspan="3">Pour quelle utilisation&nbsp;?</th>
		</tr>
		<tr class="interpage1">
			<td></td>
			<td>Pour CONSULTER</td>
			<td>Via la fonctionnalité FormaT</td>
		</tr>
		<tr>
			<td>Les informations générales</td>
			<td>
				<p class='top'>Les infos liées à l’actualité formation</p>
				<p>Avec accès à la note sur les modalités pratiques</p>
			</td>
			<td>Accueil</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class='top'>La liste des actions du plan de formation</p>
				<p>En cliquant sur l’intitulé de la formation, vous accédez à la fiche descriptive</p>
			</td>
			<td>Catalogue Offre formations</td>
		</tr>
		<tr>
			<td class='interpagefine' colspan="3"></td>
		</tr>
		<tr>
			<td>Les informations vous concernant</td>
			<td>
				<p class='top'>La liste des formations auxquelles vous êtes inscrit</p>
				<p>Avec les dates et lieu de la formation dès qu’elle est planifiée</p>
			</td>
			<td>Accueil</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<p class='top'>La liste des formations que vous avez suivies ces dernières années</p>
				<p></p>
			</td>
			<td>Historique</td>
		</tr>
		<tr class="interpage1">
			<td></td>
			<td>Pour formuler une demande d'inscription</td>
			<td>Via la fonctionnalité</td>
		</tr>
		<tr>
			<td>Les informations vous concernant</td>
			<td>
				<p class='top'>La demande d'inscription se fait par action</p>
				<p>Les demandes sont ensuite transmises  à votre manager</p>
			</td>
			<td>Demande formation</td>
		</tr>
	</table>

	<div class="encarticon attention">
		<p>N’oubliez pas&nbsp;:</p>
		<p>Consultez FORMAT régulièrement&nbsp;: toutes les données sont actualisées quotidiennement.</p>
	</div>

	<div class="encarticon attention">
		<p>Astuce&nbsp;:</p>
		<p>intégrer FORMAT dans " mes préférences " du portail.</p>
	</div>

	<br />

	<h2>ATHENA - Votre environnement d’auto-formation<br />Une base documentaire à part entière&nbsp;!</h2>
	<p>Beaucoup d’entre - vous ont déjà utilisé cet outil d’auto-formation.</p>
	<p class="ital">Athéna vous propose des séquences d’auto-formation interactives, axées sur les notions " clés " à maîtriser (définitions, notions juridiques…).</p>
	<br />
	<p>Comment y accéder&nbsp;?</p>
	<p class="ital">Directement à partir du portail, saisir ATHENA dans la zone express</p>
	<br />
	<p>Vous devez réaliser une séquence d’auto-formation en pré-requis et/ou complément d’une formation en salle&nbsp;?</p>
	<p class="ital">Vous recevez un mail vous informant de votre inscription<br />
		Vous accédez directement, dans la page d’accueil Athéna, à vos séquences d’auto-formation
	</p>
	<br />
	<p>Vous souhaitez suivre librement certaines séquences&nbsp;?</p>
	<p class="ital">Utilisez le menu "catalogue formation" ou faites une recherche par le menu "Bibliothèque des savoirs - Recherche par Mot-clé"<br />
		Exemple: en sélectionnant "Préparer son EADC" , vous accédez aux séquences qui vous présentent "les étapes et la préparation de l'EADC", "les differents onglets de l'outil EADC"…
	</p>


</div>