{% extends "root.html" %}
{% block body %}
	<!-- PAGE&nbsp;: {{ page.nom }} -->
	<div id="BIG" class="fadein fill" data-effect="0|200" style="background-image:url('{{ page.go }}{{ page.data.background }}');">
		<!-- <div class="separ48"></div> -->
		<div class="container">
			<h1 class="tabletitlesh1 col-lg-12">
				<div id="{{ page.data.iconh1 }}" class="forh1 boutonSommaire1" style="top: 4px;margin: 0px 12px -5px 80px;cursor: default;"></div>
				<span>{{ page.data.h1|raw }}</span>
			</h1>
			{% include "all-templates.html" %}
		</div>
	</div>
{% endblock body %}