<div class="container_text">
	<h2>Vos interlocuteurs</h2>

	<p class="ital">
		Vous avez une question ?<br />
		Une remarque, une suggestion ?<br />
		Un besoin de formation ?
		<h5>N'hésitez pas à nous contacter</h5>
	</p>
	<br />

	<h4 class="underline">L'équipe formation</h4>
	<p>
		• Edith BOUSSEMART<br />
		• Elisa NOURY<br />
		• Christina GUENAND<br />
		• Caroline VOETEN<br />
		• Philippe DÉJÀ<br />
		• Anne DEMARBAIX<br />
		• Isabelle COCHEZ<br />
		• Bernadette CRESPEL
	</p>
	<h4 class="underline">Les formateurs Métier en Région</h4>
	<p>
		• François BRETON<br />
		• Jean-Pierre HUBERT<br />
		• Jean Léon CRESPEL
	</p>
	<h4 class="underline">Les formateurs Ecole de ventes</h4>
	<p>
		• Pierre-Marie VILLAIN<br />
		• Patricia MANET<br />
		• Brigitte LAGRUE<br />
		• Patrick SOHIER
	</p>
