<h4>Les PARCOURS METIER</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage4.html" %}
	<tr class="bichro0">
		<td>Parcours Gérant Privé</td>
		<td>Les connaissances "socles" à maîtriser" pour gérer une clientèle Banque privée. Parcours constitué de 4 modules&nbsp;:<br />
			- Gestion et transmission du patrimoine du dirigeant (niveau 1)<br />
			- Allocation des actifs, dont immobilier<br />
			- Big Expert<br />
			- Agir en gérant Privé
		</td>
		<td>8 j</td>
		<td>Gérant privé</td>
	</tr>
</table>
<br />