<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<h4>Les ACTIONS STRATEGIQUES</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Vendre la nouvelle offre assurance AUTO</td>
		<td><i>Repositionner les offres ACM dans le marché en intégrant les nouveaux comportements des assurés, tout en proposant de nouvelles approches tarifaires pour tous les budgets</i>.<br />
			- L’offre produit et la réglementation, les outils, la démarche commerciale.</td>
		<td>0,5 j</td>
	</tr>
	<tr class="bichro1">
		<td>Le commercial au centre de la relation client</td>
		<td><i>Dans la continuité des actions dispensées sur la relation à distance et l'organisation commerciale.</i><br />
			- Le nouveau DCOM, la relation à distance, les actions fil de l’eau … méthodes et outils.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Promouvoir nos offres technologiques – Gérer les flux</td>
		<td><i>Nouveautés et approfondissement sur la démarche commerciale liées aux flux.</i><br />
			- Intégrer les nouvelles offres (Fivory…), les modalités de souscription…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>L’analyse financière</td>
		<td><i>A partir de cas et exercices d'application.</i><br />
			Les bonnes techniques de questionnement et d'analyse.
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />