<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>En complément des modules d'approfondissement proposés aux CAE.<br />
			Les modules de perfectionnement de l'offre Groupe</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Communiquer, convaincre et animer des réunions</td>
		<td>La maîtrise de la relation en individuel et en collectif <i>(techniques de communication, de prise de parole…).</i><br />
			La conduite et l'animation de réunion.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Animer des formations</td>
		<td><i>Les méthodes et techniques d'animation d'un groupe d'adultes en formation.</i><br />
			Préparer une session de formation.<br />
			Les modalités d'apprentissage de l'adulte en formation, les objectifs pédagogiques, les différentes méthodes pédagogiques.<br />
			Gérer un groupe et les phénomènes relationnels.<br />
			Animer des séquences de formation
		</td>
		<td>2 j</td>
	</tr>
</table>
<br />