<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Prise et traitement des garanties</td>
		<td>Le choix et la prise des garanties, le réglementaire, les procédures</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Présenter et argumenter une DCE</td>
		<td>Connaître toutes les informations nécessaires pour une rédaction pertinente de la demande de crédit<br />
			Analyser les informations recueillies<br />
			Rédiger la DCE pour faciliter la prise de décision
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>La prise de RDV par téléphone</td>
		<td><i>Ateliers d’entraînement, avec prise de RDV auprès de clients et/ou de prospects.</i><br />
			Cibler, identifier le mode de contact à privilégier pour le client, préparer l’appel, réaliser l’appel en appliquant la méthodologie d’entretien, qualifier le rendez-vous dans l’agenda.
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />