<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<h4>Les ACTIONS STRATEGIQUES</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les actions stratégiques sont déclinées par marché et par fonction.<br />
			Vous serez convié à certaines de ces actions, en fonction de la fonction que vous exercez.</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Les assurances Santé Collective</td>
		<td><b>A titre d'exemples, quelques unes des actions stratégiques 2015&nbsp;:</b><br />
			- Le commercial au centre de la relation client (CB/CC)<br />
			- Actualités juridiques et fiscales (CP)<br />
			- Promouvoir nos offres technologiques - grérer les flux (Capro)<br />
			- Ingénierie socilae&nbsp;: l'approche globale du client (CAE)<br />
			- Animer à distance (DAGP)<br />
			…
		</td>
		<td>
			<i><b>Nous vous invitons à consulter l'ensemble des actions stratégiques prévues en 2015.</b></i>
		</td>
	</tr>
</table>
<br />