<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les actions de perfectionnement portent sur des thématiques liées aux connaissances, sur l'entraînement aux techniques d'entretien client, sur le management et l'animation.</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Les modules de perfectionnement du plan de formation 2015.</td>
		<td>Ces actions, déclinées par marché et  par fonction, sont déployées auprès des collaborateurs du réseau via des sessions DR ou Multi-DR,<br />
			Quelques exemples de thématiques :<br />
			- Approfondissement crédit IMMO<br />
			- Approche patrimoniale transversale<br />
			- Actualités économique, juridique et fiscale du PRO<br />
			- Piloter l'activité assurances<br />
			- La prise de RDV par téléphone<br />
			- …
		</td>
		<td><i>Nous vous invitons à consulter l'ensemble des actions de perfectionnement du plan 2015.</i></td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les modules de perfectionnement ciblés en fonction des spécificités métier</b>
		</td>
	</tr>
	<tr class="bichro1">
		<td></td>
		<td><b>Ces actions sont définies au fil de l'eau avec chaque manager.</b><br />
			Quelques exemples : Modules dédiés aux superviseurs et téléconseillers des CRC, modules thématiques sur le contentieux…
		</td>
		<td></td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>En complément , des actions de perfectionnement également proposées dans le cadre de l'offre Groupe.</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Modules liés au marché PRO</td>
		<td>Les OBNL gestionnaires<br />
			Maîtriser l'approche sociale<br />
			Les Professions Libérales<br />
			Vendre l'offre Activ FSE
		</td>
		<td></td>
	</tr>
	<tr class="bichro1">
		<td>Modules liés au marché ENT</td>
		<td>Diagnostic éconmique et financier des entreprises (approfondissement)<br />
			Les comptes consolidés<br />
			Fiscalité de l'entreprise (perfectionnement)<br />
			Fiscalité de l'entreprise (expertise)<br />
			Diagnostic économique et Financier des Groupes<br />
			Analyse des documents prévisionnels de l'entreprise<br />
			Piloter et Maitriser les Risques Entreprises en période difficile<br />
			Maîtriser l'offre Salle des Marchés<br />
			Mobiliser le poste clients<br />
			Evaluation d'Entreprises
		</td>
		<td></td>
	</tr>
	<tr class="bichro0">
		<td>Modules liés à l'animation</td>
		<td>Communiquer, convaincre et animer des réunions<br />
			Animer des formations
		</td>
		<td></td>
	</tr>
	<tr class="bichro1">
		<td>Modules liés à certaines spécificités métiers</td>
		<td>Equipes FPI 
			<i>Ex: - Point annuel de l'actualité juridique immobilière - Estimation immobilière…</i>
			Equipes Contrôle périodique
			<i>Ex: - Réussir les écrits des missions d'inspection et d'audit…</i>
			Equipes Contrôle permanent
			<i>Ex: - Méthodologie et outils du contrôle permanent comptable…</i>
		</td>
		<td><i>L'ensemble des modules "métier" sont consultables et accessibles via le FormaT dédié</i></td>
	</tr>
</table>
<br />