<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Négociateur immobilier</td>
		<td>Les obligations règlementaires liées à la négociation immobilière.<br />
			L’organisation du domaine immobilier dans le groupe CM-CIC.<br />
			Commercialiser des biens immobiliers AFEDIM, le mandat de gestion locative ZENINVEST
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Le commercial au centre de la relation client</td>
		<td><i>Dans la continuité des actions dispensées sur la relation à distance et l'organisation commerciale.</i><br />
			- Le nouveau DCOM, la relation à distance, les actions fil de l’eau… méthodes et outils.
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />