<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<h4>Les PARCOURS METIER</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Parcours Directeur d'Agence Entreprise</td>
		<td>L’ensemble des compétences clés requises au niveau de l’appropriation des outils du DAE, de la gestion des Ressources Humaines, de l’animation et du pilotage de l'agence, du développement commercial.<br />
			Ce parcours se déroule en 6 étapes :<br />
			- Le management commercial<br />
			- Le pilotage commercial et financier<br />
			- Le pilotage de la conquête<br />
			- Les outils de communication et de gestion du temps<br />
			- Le pilotage du risque et les contrôles<br />
			- La gestion des RH		
		</td>
		<td>7 j</td>
	</tr>
</table>
<br />