<h4>Les PARCOURS METIER</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Les outils du marché ENT</td>
		<td>L'ensemble des outils du marché ENT<br />
			Ouverture de comptes, outils d'instruction des crédits…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Parcours Chargé d’Affaires Entreprises</td>
		<td><i>Les connaissances techniques et méthodes d’entretien liées au marché ENT.</i><br />
			Ce parcours s’articule en plusieurs étapes&nbsp;:<br />
			- La relation au quotidien (Analyse financière et outils de gestion - Financement du cycle d’exploitation – Financement de l’investissement - Gestion des risques)<br />
			- Les opérations domestiques et internationales (Tarification – Flux – International)<br />
			- La gestion de la trésorerie et la prospection (Placements de trésorerie - Produits salle des marchés – Prise de RDV par tel.)<br />
			- L’ingénierie sociale et financière (Approche sociale des entreprises – Financement d’acquisition d’entreprise – Prescrire la banque privée)<br />
			- La prospection et la négociation
		</td>
		<td>8 j</td>
	</tr>
</table>
<br />