<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Actualités économiques juridiques et fiscales du PRO</td>
		<td><i>L’actualité juridique, réglementaire et fiscale.</i><br />
			- Comprendre et intégrer les nouveautés  pour optimiser le conseil à la clientèle, voire les transformer en opportunités commerciales.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Prise et traitement des garanties</td>
		<td>Le choix et la prise des garanties, le réglementaire, les procédures.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les modules et ateliers d'entraînement sur les techniques d'entretien client</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>La prise de RDV par téléphone</td>
		<td><i>Ateliers d’entraînement, avec prise de RDV auprès de clients et/ou de prospects.</i><br />
			Cibler, identifier le mode de contact à privilégier pour le client, préparer l’appel, réaliser l’appel en appliquant la méthodologie d’entretien, qualifier le rendez-vous dans l’agenda.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Atelier d'entraînement&nbsp;: Mes entretiens de vente</td>
		<td><i>Atelier d’entraînement sur les outils et méthodes d'entretien client.</i><br />
			Préparer, prendre un RDV, conduire l'entretien, conclure l’entretien, demander une RECO…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Atelier d'entraînement&nbsp;: L'organisation commerciale</td>
		<td><i>Atelier / développement commercial de son portefeuille clients</i><br />
			Les opportunités pour développer son activité, les actions commerciales, l’analyse du portefeuille, la qualité des données, les outils (DCOM, DAP…)
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Réussir la prospection par la recommandation</td>
		<td>Situer les opportunités de la recommandation, pratiquer, solliciter une recommandation au téléphone, contourner les obstacles…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Gérer les clients agressifs et les incivilités</td>
		<td>Les éléments d’une communication efficace<br />
			Les mécanismes de l’agression<br />
			Le stress émotionnel et les moyens de le maitriser
		</td>
		<td>1 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les modules de perfectionnement de l'offre Groupe</b>
		</td>
	</tr>
	<tr class="bichro1">
		<td>Les OBNL gestionnaires</td>
		<td>L'environnement juridique et fiscal des associations gestionnaires (EHPAD, OGEC, Associations Sanitaires et sociales, Associations Reconnues d'Utilité Publique).<br />
			Le risque par l'analyse financière.<br />
			Nos solutions de gestion du quotidien, les financements.<br />
			Nos solutions de gestion et de protection du patrimoine et des personnes.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Maîtriser l'approche sociale</td>
		<td>Rappels des dispositifs d'Epargne Salariale.<br />
			Le contrat d'Intéressement.<br />
			Les opportunités EPSA.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Les Professions Libérales</td>
		<td>La clientèle des professions libérales en approche globale.<br />
			et les principaux aspects techniques et commerciaux de la relation.<br />
			(aspects règlementaires choix de la forme juridique et conséquences fiscales et couverture sociale, aspect comptables, financements, risques).<br />
			<br />
			Les aspects patrimoniaux, fiscaux et sociaux.<br />
			(constitution d'un patrimoine professionnel, gestion du patrimoine privé, préparation à la retraite, cession partielle ou totale de l'activité).
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Vendre l'offre Activ FSE</td>
		<td>Maîtriser notre Offre Monétique et de Gestion des Feuilles de Soins Electroniques (FSE)<br />
			Convaincre le client d'utiliser nos solutions
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />