<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Piloter l’activité assurance</td>
		<td>Le DIAG assurances du point de vente, les actions commerciales et les opportunités, la rentabilité de l’activité assurances, l’accompagnement des collaborateurs dans le développement de l’activité assurances.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Piloter l’activité patrimoniale</td>
		<td>Accompagner le CP dans le développement de l’activité patrimoniale, assurer les synergies métiers…</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Piloter l’activité PRO</td>
		<td>Les outils de pilotage et l’accompagnement du Capro dans le développement de son activité.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Nourrir l’activité commerciale</td>
		<td><i>L'animation de l'équipe</i><br />
			L’animation des Temps Forts, les ciblages, la préparation des entretiens et les infos à capter
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>L’entretien hebdo</td>
		<td><i>La conduite de l'entretien hebdo</i><br />
			Comment analyser l’activité et les résultats, comment vérifier les points acquis et non acquis au niveau des méthodes d’entretien client (notamment la préparation de l’entretien), définir en conséquence l’accompagnement nécessaire pour aider le collaborateur à progresser (coaching/formation/auto formation).</td>
		<td>1 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les modules de perfectionnement de l'offre Groupe</b>
		</td>
	</tr>
	<tr class="bichro1">
		<td>Communiquer, convaincre et animer des réunions</td>
		<td>La maîtrise de la relation en individuel et en collectif <i>(techniques de communication, de prise de parole…).</i><br />
			La conduite et l'animation de réunion.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Animer des formations</td>
		<td><i>Les méthodes et techniques d'animation d'un groupe d'adultes en formation.</i><br />
			Préparer une session de formation.<br />
			Les modalités d'apprentissage de l'adulte en formation, les objectifs pédagogiques, les différentes méthodes pédagogiques.<br />
			Gérer un groupe et les phénomènes relationnels.<br />
			Animer des séquences de formation
		</td>
		<td>2 j</td>
	</tr>
</table>
<br />