<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous approprier dès votre arrivée,<br />les outils et applicatifs de votre poste de travail,<br />les  intournables liés à l'exercice de nos métiers.<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont systématisées, en lien avec votre GRH.
</h3>
<h4>Les INCONTOURNABLES</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
</table>
<br />