<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<h4>Les PARCOURS METIER</h4>
<table class="table table-responsive table-condensed pave">
	<tr class="bichro0">
		<td>Parcours Conseiller Accueil</td>
		<td><i>Toute la dimension relationnelle et commerciale à l'accueil.</i><br />
			- Le comportemental : L’accueil - La détection des opportunités - La gestion des incivilités - La sécurité et prévention de la fraude…<br />
			- Technique: Les techniques bancaires et les produits et services liés au compte courant - La sensibilisation aux produits (Téléphonie – BAD - Epargne bancaire – Assurances) - L'initiation aux crédits et au risque.
		</td>
		<td>19 j étalés sur 6 mois</td>
	</tr>
</table>
<br />