<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<h4>Les PARCOURS METIER</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Les outils du marché PRO</td>
		<td>L'ensemble des outils du marché PRO<br />
			Ouverture de comptes, outils d'instruction des crédits…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Parcours Chargé d’Affaires PROfessionnel</td>
		<td><i>Les compétences techniques et comportementales requises dans l’exercice de la relation commerciale avec une clientèle Professionnelle (partie Privée et partie Pro).</i><br />
			Les fondamentaux (Environnement juridique, social et fiscal - Analyse financière - Comptabilité)<br />
			Le quotidien (l'entrée en relation, l'offre flux/services/monétique, la gestion trésorerie et épargne)<br />
			Le financement (Les crédits et garanties - La gestion des risques)<br />
			Le patrimoine (L’épargne - L’épargne salariale - Les assurances)<br />
			Le relationnel client/prospect (La prise de RDV par téléphone- La prospection)
		</td>
		<td>30 j<br />étalé sur 1 an</td>
	</tr>
</table>
<br />