<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="pave-inter">
		<td colspan="3">
			<b>Formations organisées exclusivement par l'équipe formation en lien avec chacune des DR et agences.</b>
		</td>
	</tr>
	<tr class="bichro1">
		<td>Sécurité Incendie</td>
		<td><b><u>Cette action de formation intègre 2 volets&nbsp;:</u></b><br />
			<b>Une formation "théorique"</b><br />
			- Séquence d'auto-formation (via Athéna) "Prévention et sécurité incendie"<br />
			<br />
			<b>Une formation "pratique"</b>, organisée sur le lieu de travail en petits groupes.<br />
			- Les consignes de sécurité (plan d'évacuation, déclenchement de l'alarme, alerte des secours, danger des fumées)<br />
			- La pratique et la manipulation des extincteurs (leur fonctionnement, les exercices de manipulation)<br />
			<br />
			<b>Pour les interlocuteurs des DR et du Siège "chargés d'évacuation"&nbsp;:</b><br />
			- rappels réguliers sur les règles à respecter en cas d'alerte incendie 
		</td>
		<td></td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Formations organisées à partir des demandes d'iinscriptions formulées via FormaT</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Sauveteur, secouriste du travail</td>
		<td><b>- 1ère étape&nbsp;: "Formation de base" (2&nbsp;j)</b><br />
			Les gestes et réflexes à avoir, pour savoir porter efficacement secours.<br />
			<i>avec évaluation et délivrance d'un certificat "Sauveteur secouriste du travail".</i><br />
			<br />
			<b>- 2<sup>ème</sup> étape "Recyclage" (1&nbsp;j)</b><br />
			Rappels des bons gestes et entraînement.<br />
			<i>à suivre au rythme de tous les 2 ans.</i>
		</td>
		<td>3 j</td>
	</tr>
	<tr class="bichro1">
		<td>Gestes et postures en situation de travail</td>
		<td><b>Les principes de base des bonnes postures relatives au poste de travail (1&nbsp;j)</b></td>
		<td>1 j</td>
	</tr>
</table>
<br />