<h4>Les ACTIONS STRATEGIQUES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Vendre la nouvelle offre assurance AUTO</td>
		<td><i>Repositionner les offres ACM dans le marché en intégrant les nouveaux comportements des assurés, tout en proposant de nouvelles approches tarifaires pour tous les budgets</i>.<br />
			- L’offre produit et la réglementation, les outils, la démarche commerciale.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Vendre l’offre CM CIC AUTO</td>
		<td><i>Fidéliser nos clients grâce à une offre à forte valeur ajoutée, reconquérir des clients en se positionnant le plus en amont possible de leur projet auto.</i><br />
			- Contacter ses clients, recenser et exploiter les opportunités de contact<br /> 
			- Mener un entretien de découverte sur le thème de la voiture<br />
			- Argumenter une proposition - Gérer le dossier à l’aide des outils
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Le commercial au centre de la relation client</td>
		<td><i>Dans la continuité des actions dispensées sur la relation à distance et l'organisation commerciale.</i>.<br />
			- Le nouveau DCOM, la relation à distance, les actions fil de l’eau… méthodes et outils.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Atelier " Approfondissements assurances "</td>
		<td>Dans la continuité des ateliers déployés, ces ateliers sont construits exclusivement à partir de cas pratiques.<br />
			- en 2015&nbsp;: l'atelier portera sur le bilan Assurances et les résiliations.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>L’épargne financière</td>
		<td>L’offre et les aspects réglementaires (les valeurs mobilières, les règles d’investissement/encadrement du risque, la gamme OPCVM CM-CIC, les ordres de bourse et opérations sur titres, les supports d’investissement (dont PEA), la fiscalité…).<br />
			La conduite d'entretien de vente de l’épargne financière. 
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Développer son activité autour de la Téléphonie</td>
		<td>Intégrer les évolutions technologiques en lien avec les nouveaux besoins et habitudes clients (les réseaux, Smartphones, paiement sans contact…).</td>
		<td>1 j<br />Déploiement étalé sur 2015/2016</td>
	</tr>
	<tr class="bichro0">
		<td>Accompagner nos clients dans la préparation à la retraite</td>
		<td>Les enjeux et le contexte de la retraite en France.<br />
			Les principaux mécanismes de la retraite<br />
			Prendre un RDV avec les clients potentiels de son portefeuille<br />
			Mener un entretien de préparation au projet de la retraite.
		</td>
		<td>1 j<br />Déploiement étalé sur 2015/2016</td>
	</tr>
	<tr class="bichro1">
		<td>Développer le marché des jeunes</td>
		<td>Conquérir et fidéliser la jeune clientèle et notamment les enfants de nos clients.<br />
			- Identifier les enjeux du marché des jeunes<br />
			- Proposer une offre adaptée&nbsp;: les offres en fonction des âges, les opérations d’animation clients Jeunes, opportunités de contact, l’entretien avec le jeune client.
		</td>
		<td>1 j<br />Déploiement étalé sur 2015/2016</td>
	</tr>
	<tr class="bichro0">
		<td>Accompagnement du passage en Banque Ouverte - Module 1</td>
		<td><i>Evolution "accueil"</i>.<br />
			Accompagner les clients pour qu'ils sachent traiter leurs opérations courantes en toute autonomie.</td>
		<td>1 j</td>
	</tr>
</table>
<br />