<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Approfondissement crédit IMMO</td>
		<td>Rappels et cas pratiques sur les règles d’octroi, les normes d'intruction… l'analyse des modifications de contrat et l'instruction des avenants.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Vendre le crédit Conso et les produits et services liés à l'univers "mon véhicule"</td>
		<td><i>Module d’actualisation des connaissances</i><br />
			Partager ses pratiques - pratiquer l’outil AGIMMO - découvrir les nouvelles fonctionnalités - effectuer la réservation - vendre la Résidence Principale - mener une action AFEDIM dans son agence.</td>
		<td>1 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Maîtriser l'EPARGNE</b><br />
			<i>En complément de l'action stratégique "L'Epargne financière".<br />
			Deux modules thématiques sur les connaissances à maîtriser et la démarche commerciale liée.<br />
			Un module de consolidation sur l'approche globale de l'univers Epargne.</i>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Epargne comptable, fiscalité et situation matrimoniale</td>
		<td>L'épargne logement et produits liés, comptes à terme, PEP bancaires.<br /> 
			La fiscalité, l'environnement juridique lié à la situation matrimoniale.<br />
			L'entretien de vente de l’épargne financière (intègre l’utilisation des outils et la fiscalité).
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Assurance Vie et dévolution légale du patrimoine</td>
		<td>Notions sur la transmission de patrimoine, cadre juridique et fiscal, options d’investissement, garanties décès.<br />
			L'entretien de vente de l’assurance vie (intègre la fiscalité et l’investissement en épargne financière)</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Vendre l’épargne : l'approche globale</td>
		<td>La préparation et la conduite d'un entretien client lié aux offres de l’univers Epargne dans sa globalité (découverte du client, argumentation de la vente, négociation, traitement des objections).</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Modules sur les techniques patrimoniales</td>
		<td><i>Les modules du parcours Métier Conseiller Patrimonial sont également ouverts aux inscriptions FormaT.</i><br />
			Pour répondre à vos besoins de formation sur les techniques patrimoniales, en fonction des clients Patrimoniaux que vous avez dans votre portefeuille clients.</td>
		<td></td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les modules et ateliers d'entraînement sur les techniques d'entretien client</b>
		</td>
	</tr>
	<tr class="bichro1">
		<td>Vendre « l’équipement » au quotidien</td>
		<td>Réussir l’entrée en relation : devenir la banque principale dès l’entretien d'entrée en relation, vendre la tarification des services…</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>La prise de RDV par téléphone</td>
		<td><i>Ateliers d’entraînement, avec prise de RDV auprès de clients et/ou de prospects.</i><br />
			Cibler, identifier le mode de contact à privilégier pour le client, préparer l’appel, réaliser l’appel en appliquant la méthodologie d’entretien, qualifier le rendez-vous dans l’agenda.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Atelier d'entraînement : Mes entretiens de vente</td>
		<td><i>Atelier d’entraînement sur les outils et méthodes d'entretien client.</i><br />
			Préparer, prendre un RDV, conduire l'entretien, conclure l’entretien, demander une RECO…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Atelier d'entraînement : L'organisation commerciale</td>
		<td><i>Atelier / développement commercial de son portefeuille clients</i><br />
			Les opportunités pour développer son activité, les actions commerciales, l’analyse du portefeuille, la qualité des données, les outils (DCOM, DAP…)
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Réussir la prospection par la recommandation</td>
		<td>Situer les opportunités de la recommandation, pratiquer, solliciter une recommandation au téléphone, contourner les obstacles…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Gérer les clients agressifs et les incivilités</td>
		<td>Les éléments d’une communication efficace<br />
			Les mécanismes de l’agression<br />
			Le stress émotionnel et les moyens de le maitriser
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />