<h4>Les ACTIONS STRATEGIQUES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Les assurances Santé Collective</td>
		<td>Maîtriser l’Offre, la tarification et les modalités de mises en place.<br />
			Répondre aux objections des clients et prospects.<br />
			Contre-argumenter face aux propositions de la concurrence, maîtriser les argumentaires.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Management commercial / piloter mon PMT</td>
		<td><i>Animer collectivemeent et individuellement son équipe.</i>
			Maitriser les outils de pilotage, animer les actions commerciales, accompagner les CAE dans le développement de leur portefeuille.<br />
			Mener l'entretien hebdo.
		</td>
		<td>2 j</td>
	</tr>
</table>
<br />