<h4>Les PARCOURS METIER</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Parcours Conseiller PART</td>
		<td><i>Votre parcours formation est construit en lien avec votre GRH, en fonction de l'expérience que vous avez acquise sur la gestion d'un portefeuille de clients PART.</i><br />
			- A partir de modules techniques du parcours Conseiller Bancaire<br />
			-  A partir de modules de perfectionnement (crédits, garanties, assurances, patrmonial…)<br />
			et des modules d'entraînement aux méthodes d'entretien client.
		</td>
		<td></td>
	</tr>
</table>
<br />