<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Prise et traitement des garanties</td>
		<td>Le choix et la prise des garanties, le réglementaire, les procédures</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Présenter et argumenter une DCE</td>
		<td><i>Toutes les informations nécessaires pour une rédaction pertinente de la demande de crédit</i><br />
			Analyser les informations recueillies<br />
			Rédiger la DCE pour faciliter la prise de décision<br />
			La constitution de Groupes d'Affaires Consolidées et Groupes de Notation.<br />
			Rédiger correctement la note comité<br />
			Présenter un dossier de LBO
		</td>
		<td>1 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Modules de perfectionnement de l'offre Groupe</b>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Diagnostic éconmique et financier des entreprises (approfondissement)</td>
		<td>L'approche méthodologique du diagnostic d'entreprise.<br />
			L'analyse de la solidité financière et la qualité des performances opérationnelles d'une entreprise.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Les comptes consolidés</td>
		<td>Le processus de transformation des comptes sociaux en comptes consolidés.<br />
			Les risques inhérents à l'élaboration des comptes consolidés et à leur présentation.<br />
			L'information économique et financière transcrite dans les comptes consolidés indépendamment des comptes sociaux.<br />
			La pratique opérationnelle et méthodologique les comptes consolidés.
		</td>
		<td>3 j</td>
	</tr>
	<tr class="bichro0">
		<td>Fiscalité de l'entreprise (perfectionnement)</td>
		<td>Les impacts de la fiscalité sur les flux financiers de l'entreprise et sur ses comptes annuels, ses répercussions éventuelles en terme de risques.<br />
			Les leviers fiscaux , comment anticiper et accompagner leur réalisation.<br />
			La proposition commerciale en adéquation avec la situation fiscale particulière de l'entreprise.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Fiscalité de l'entreprise (expertise)</td>
		<td>Les raisons conduisant les dirigeants à avoir recours de plus en plus fréquemment aux holdings et à leur corollaire direct, la création de groupes de sociétés.<br />
			Les principales règles fiscales, juridiques et financières applicables aux groupes, comment accompagner leur développement et de porter une appréciation critique sur leur fonctionnement.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Diagnostic économique et Financier des Groupes</td>
		<td>Lire et analyser les comptes consolidés afin d'apprécier la solvabilité et la liquidité des groupes.<br />
			Détecter, prévenir et maîtriser les risques dans la relation de la banque avec les groupes ou avec leurs filiales, quel que soit leur référentiel comptable : français ou IFRS.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Analyse des documents prévisionnels de l'entreprise</td>
		<td>La démarche d'élaboration des documents prévisionnels (plans d'affaires/business plan) et plans de trésorerie.<br />
			Analyser les documents prévisionnels avec un esprit critique.<br />
			Calculer le point mort/seuil de rentabilité.<br />
			Expliquer la logique des covenants financiers, leur choix, leur niveau et leur rédaction.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Piloter et Maitriser les Risques Entreprises en période difficile</td>
		<td>Diagnostiquer la dégradation. Savoir rendre compte et passer la main (Recouvrement Amiable, Médiation, Contentieux).<br />
			Déterminer les remèdes, porter attention aux garanties, faire respecter la prescription, vendre la proposition. Savoir se séparer.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Maîtriser l'offre Salle des Marchés</td>
		<td>Identifier les besoins de nos clients entreprises en matière de couvertures de taux et de change.<br />
			Les produits de couverture standards.<br />
			Orienter vers la Salle des Marchés les clients ayant des problématiques plus complexes ou nécessitant un accès direct.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Mobiliser le poste clients</td>
		<td>L'affacturage et les autres services de CM-CIC FACTOR par rapport aux autres solutions de financement du cycle d'exploitation<br />
			L'analyse approfondie du poste clients en vue de proposer l'offre affacturage ou Dailly
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Evaluation d'Entreprises</td>
		<td>Le contexte de l'évaluation<br />
			L'environnement juridique, stratégique et commercial.<br />
			Le positionnement dynamique de la société (approche BCG SWOT)<br />
			Les éléments de risque.
		</td>
		<td>2 j</td>
	</tr>
</table>
<br />