<h4>Les ACTIONS STRATEGIQUES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Atelier d’entraînement / management commercial</td>
		<td>Ateliers pratiques dans la continuité des 2 Form’actions dispensées en 2014, pour s'entraîner sur la démarche&nbsp;:<br />
			- Nourrir l’activité commerciale (ciblage des entretiens - lancement des temps forts)<br />
			- La conduite de l’entretien hebdo
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Atelier thématique lié aux risques</td>
		<td>Thème qui sera ciblé une problématique spécifique liée aux risques (en 2014 le thème portait sur le " risque contentieux immobilier").</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Animer à distance<br /><i>Pour les DAGP multi-sites</i></td>
		<td>L’animation, la communication et le management " à distance ".</td>
		<td>1 j</td>
	</tr>
</table>
<br />