<h4>Les ACTIONS STRATEGIQUES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage4.html" %}
	<tr class="bichro0">
		<td>Négocier pour défendre nos marges</td>
		<td>Savoir mener une négociation commerciale avec le dirigeant d’entreprise, dans le but de défendre nos marges.</td>
		<td>1 j</td>
		<td>Gérant privé<br />DABP</td>
	</tr>
	<tr class="bichro1">
		<td>Ingénierie Sociale du dirigeant</td>
		<td>Exploiter les moyens juridiques et techniques à disposition du dirigeant d'entreprise pour optimiser sa rémunération.</td>
		<td>1 j</td>
		<td>Gérant privé<br />DABP</td>
	</tr>
	<tr class="bichro0">
		<td>Valoriser la relation client</td>
		<td>La démarche " comportementale " / relation client.</td>
		<td>2 j</td>
		<td>ACBP</td>
	</tr>
</table>
<br />