<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<h4>Les ACTIONS STRATEGIQUES</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Les assurances Santé Collective</td>
		<td>Maîtriser l’Offre, la tarification et les modalités de mises en place.<br />
			Répondre aux objections des clients et prospects.<br />
			Contre-argumenter face aux propositions de la concurrence, maîtriser les argumentaires.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Les flux et nouvelles technologies</td>
		<td><i>Intégrer les nouveautés, conforter les connaissances.</i><br />
			Rebondir sur la dynamique SEPA pour intéresser nos clients aux produits et services.<br />
			Accompagner nos clients dans la mise en œuvre de solutions et services tels que SEPAMAIL, l’acquisition monétique transfrontière, centrales de paiement…<br />
			Construire une relation durable basée sur l’interaction des canaux de distribution.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Ingénierie Sociale : l’approche globale du client</td>
		<td>Comment présenter et valoriser l’offre auprès du client pour obtenir un RDV.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Accompagner les clients dans leur projet à l’international</td>
		<td>En 2015 le module sera axé sur les financements.</td>
		<td>1 j</td>
	</tr>
</table>
<br />