<h4>Les INCONTOURNABLES</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous approprier dès votre arrivée,<br />les outils et applicatifs de votre poste de travail,<br />les  intournables liés à l'exercice de nos métiers.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont systématisées, en lien avec votre GRH.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Environnement, méthodes et outils </td>
		<td>Le poste de travail, les outils de communication, la base tiers…</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Les outils du marché PRO</td>
		<td>L'ensemble des outils du marché PRO<br />
			Ouverture de comptes, outils d'instruction des crédits…
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Prévention, sécurité  et lutte contre le blanchiment</td>
		<td>La sécurité des opérations et des biens, la lutte contre le blanchiment, la déontologie</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Séquences d'auto-formation via Athéna</td>
		<td>TRACFIN - Recueil de déontologie CM CIC - Sensibilisation à la conformité - Sensibilisation sécurité, protection des personnes et des biens - Protection de la vie privée / CNIL - Prévention incendie<br />
			Recyclage des espèces<br />
			Réglementation MIF - Conseil en Investissement financier - Aeras
		</td>
		<td>30 mn en moyenne selon les séquences</td>
	</tr>
	<tr class="bichro0">
		<td>La Certification AMF</td>
		<td><i>Un pré-requis obligatoire à toute fonction commerciale, pour pouvoir informer ou conseiller les clients en vue  de transactions sur instruments financiers.</i><br />
			Ce dispositif se déroule en 2 temps : Formation en salle et examen de certification.<br />
			- Les connaissances réglementaires et déontologiques <i>(la réglementation abus de marché, devoir de conseil…)</i><br />
			- Les connaissances techniques <i>(instruments et produits financiers, fonctionnement des marchés, post-marché, bases financières…).</i>
		</td>
		<td>6 j</td>
	</tr>
	<tr class="bichro1">
		<td>Le Passeport Assurances</td>
		<td><i>Dispositif lié à la gamme CIC Assurances.</i><br />
			Ce dispositif se déroule en 2 temps : Formation en salle et examen de certification.<br />
			- La gamme " auto - habitation – prévoyance – santé ". Le réglementaire.<br />
			- La démarche commerciale.
		</td>
		<td>11 j</td>
	</tr>
</table>
<br />