<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<h4>Les PARCOURS METIER</h4>
<table class="table table-responsive table-condensed pave">
	<tr class="bichro0">
		<td>Parcours Conseiller Patrimonial</td>
		<td><i>Les techniques et méthodes à maîtriser pour gérer la clientèle patrimoniale :</i><br />
			- Le droit patrimonial - L'assurance vie - Les marchés financiers - La retraite - La fiscalité - L'ISF - Les SCI<br />
			- L'entretien client : l'approche besoins, le bilan patrimonial et les propositions commerciales…
		</td>
		<td>19 j étalés sur 1 an</td>
	</tr>
</table>
<br />