<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<h4>Les PARCOURS METIER</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>Parcours métier</td>
		<td><b>Votre parcours métier est finalisé en fonction à la fois&nbsp;:<br />
			- de vos acquis et expériences précédentes<br />
			- des connaissances et techniques liées au métier préparé</b><br />
			<br />
			Individualisé, votre parcours métier alterne:<br />
			- des temps d'immersion (en agence, DR, Siège)<br />
			- des formations aux outils, aux techniques bancaires, au relationnel<br />
			- des temps d'autoformation<br />
			<br />
			Pour certaines actions de formation métier, les sessions sont organisées au niveau Groupe, exemples:<br />
			- Pour la formation des équipes "FPI" (Pratique de la fiscalité immobilière - Méthodes et pratiques du risque immobilier…)<br />
			- Pour la formation des équipes Controle périoique (Les fondmantaux du métier d'inspecteur…)<br />
			- Pour la formation des équipes Contrôles permanent (Les fondamentaux et les outils du contrôle permanent et de la conformité…)
		</td>
		<td>7 j</td>
	</tr>
</table>
<br />