<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>S.A.I.</td>
		<td>Le traitement des saisies, ATD…</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Commercialiser les produits d'épargne bancaire</td>
		<td>Intégrer l'importance de la fiscalité dans le conseil apporté à nos clients.<br />
			Expliquer les caractéristiques de fonctionnement des différents livrets.<br />
			Commercialiser les livrets dans le respect des méthodes préconisées.<br />
			Prendre des rendez-vous qualifiés pour les Conseillers.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>S'initier au crédit et au risque</td>
		<td>Informer la clientèle sur la gamme des crédits consommation et immobilier.<br />
			Prendre des rendez-vous qualifiés pour les conseillers particuliers.<br />
			Utiliser les applicatifs de consultation et de gestion des crédits.<br />
			Lister les documents nécessaires au montage d'un crédit consommation ou immobilier.
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>S'initier à l'assurance IARD</td>
		<td>Les arguments des contrats assurances Habitation / Automobile / Santé.<br />
			Les documents nécessaires à l'établissement d'un devis d'assurance.<br />
			Expliquer le fonctionnement des plateformes de gestion des sinistres.<br />
			Utiliser les applicatifs informatiques de consultation des contrats et des sinistres.<br />
			Intégrer la notion de devoir de conseil.<br />
			Prendre des rendez-vous pour les Conseillers.
		</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>Gérer les clients agressifs et les incivilités</td>
		<td>Les éléments d’une communication efficace<br />
			Les mécanismes de l’agression<br />
			Le stress émotionnel et les moyens de le maitriser
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />