<h4>Les ACTIONS DE PERFECTIONNEMENT</h4>
<h2 class="tablestitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Au-delà des actions stratégiques, pour consolider vos connaissances et vous entraîner dans l'application des méthodes.<br />Pour vous aider à gagner en expertise.<br />
<h3 class="tablestitlesh3 col-lg-12">
	<div class="iconfleche"></div>En fonction de vos besoins, et tout au long de l'année, formulez vos inscriptions via FormaT.
</h3>
<table class="tables table-condensed pave">
	{% include "entete-tablespage.html" %}
	<tr class="bichro0">
		<td>Le commercial au centre de la relation client</td>
		<td><i>Repositionner les offres ACM dans le marché en intégrant les nouveaux comportements des assurés, tout en proposant de nouvelles approches tarifaires pour tous les budgets</i>.<br />
			- L’offre produit et la réglementation, les outils, la démarche commerciale.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Les dispositifs fiscaux de l'immobilier<br /><b><i>Pour les commerciaux détenteurs de la carte "Afedim"</i></b></td>
		<td><i>Module d’actualisation des connaissances</i><br />
			Partager ses pratiques - pratiquer l’outil AGIMMO - découvrir les nouvelles fonctionnalités - effectuer la réservation - vendre la Résidence Principale - mener une action AFEDIM dans son agence.</td>
		<td>2 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les techniques patrimoniales</b><br />
			<i>Un module pour actualiser les connaissances et travailler sur le diagnostic patrimonial.<br />
			Quatre modules d'approfondissement qui répondent à des problèmatiques patrimoniales spécifiques.</i>
		</td>
	</tr>
	<tr class="bichro0">
		<td>Approche patrimoniale transversale</td>
		<td>A partir d’un cas " fil rouge "&nbsp;: structurer la découverte du client et établir un diagnostic patrimonial, formaliser des préconisations adaptées aux problématiques patrimoniales identifiées, les argumenter. </td>
		<td>2 j</td>
	</tr>
	<tr class="bichro1">
		<td>Sensibilisation à la fiscalité internationale</td>
		<td>Répondre aux préoccupations patrimoniales du client souhaitant se délocaliser, déterminer la taxation des revenus des non-résidents…</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Sensibilisation à la transmission du patrimoine professionnel</td>
		<td>La problématique de la transmission, la démarche commerciale, la préparation, la cession d’entreprise…</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Optimisation fiscale en gestion de patrimoine</td>
		<td>Savoir présenter les "produits" ou "les optimisations de gestion de patrimoine" reposant sur de les leviers fiscaux</td>
		<td>2 j</td>
	</tr>
	<tr class="bichro0">
		<td>La rémunération du dirigeant</td>
		<td>La rémunération du dirigeant en période d’activité - la rémunération différée - la rémunération en cas de décès (les caractéristiques et options)</td>
		<td>2 j</td>
	</tr>
	<tr class="pave-inter">
		<td colspan="3">
			<b>Les modules et ateliers d'entraînement sur les techniques d'entretien client</b>
		</td>
	</tr>
	<tr class="bichro1">
		<td>Atelier d'entraînement&nbsp;: Mes entretiens de vente</td>
		<td><i>Atelier d’entraînement sur les outils et méthodes d'entretien client.</i><br />
			Préparer, prendre un RDV, conduite l'entretien, conclure l’entretien, demander une RECO…</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro0">
		<td>Atelier d'entraînement&nbsp;: L'organisation commerciale</td>
		<td><i>Atelier / développement commercial de son portefeuille clients</i><br />
			Les opportunités pour développer son activité, les actions commerciales, l’analyse du portefeuille, la qualité des données, les outils (DCOM, DAP…)
		</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Gérer les clients agressifs et les incivilités</td>
		<td>Les éléments d’une communication efficace<br />
			Les mécanismes de l’agression<br />
			Le stress émotionnel et les moyens de le maitriser
		</td>
		<td>1 j</td>
	</tr>
</table>
<br />