<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Vous accompagner dans votre prise de fonction.<br />Le parcours est constitué de plusieurs modules et porte sur l'ensemble des techniques et méthodes liées à votre métier.<br />Techniques bancaires - Assurances - Organisation commerciale - outils de simulation et d’instruction - Techniques d’entretien client…<br />
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>Les inscriptions sont enregistrées directement avec votre GRH, vous n'avez donc pas de demande d'inscription à formuler.
</h3>
<h4>Les PARCOURS METIER</h4>
<table class="table table-responsive table-condensed pave">
	<tr>
		<th>Libellé</th>
		<th>Quelques mots / contenu</th>
		<th>Durée</th>
	</tr>
	<tr class="bichro0">
		<td>La Certification AMF</td>
		<td><i>Un pré-requis obligatoire à toute fonction commerciale, pour pouvoir informer ou conseiller les clients en vue  de transactions sur instruments financiers.</i><br />
			Ce dispositif se déroule en 2 temps : Formation en salle et  examen de certification.<br />
			- Les connaissances réglementaires et déontologiques <i>(la réglementation abus de marché, devoir de conseil ...)</i><br />
			- Les connaissances techniques <i>(instruments et produits financiers, fonctionnement des marchés, post-marché, bases financières...).</i><br />
		</td>
		<td>6 j</td>
	</tr>
	<tr class="bichro1">
		<td>Parcours Conseiller PART</td>
		<td><i>Pour vous approprier progressivement, dans le cadre d’une 1ère prise de fonction commerciale, les connaissances et méthodes à maîtriser.</i><br />
			- L’organisation et les outils commerciaux<br />
			- Le risque, les crédits et les garanties<br />
			- Le passeport Assurances<br />
			- L’épargne financière et bancaire<br />
			- La préparation et la conduite d'un entretien client - La prise de RDV par téléphone –-La recommandation
		</td>
		<td>25 j étalés sur 1 an</td>
	</tr>
</table>
<br />