<h2 class="tabletitlesh2 col-lg-12">
	<div class="iconvert iconvert-1"></div>Accompagner les différents enjeux de notre entreprise et vous permettre de vous approprier les nouveautés.<br />Les actions stratégiques sont déployées sur 1 ou 2 ans, et organisées en lien avec chacune des Directions concernées.<br />
</h2>
<h3 class="tabletitlesh3 col-lg-12">
	<div class="iconfleche"></div>A caractère obligatoire, les inscriptions sont faites directement par l'équipe formation<br /><i>(ces actions ne sont pas ouvertes aux inscriptions via FormaT).</i>
</h3>
<h4>Les ACTIONS STRATEGIQUES</h4>
<table class="table table-responsive table-condensed pave">
	<tr class="bichro0">
		<td>Accompagnement du passage en Banque Ouverte - Module 1</td>
		<td><i>Evolution "accueil"</i><br />
			Accompagner les clients pour qu'ils sachent traiter leurs opérations courantes en toute autonomie.</td>
		<td>1 j</td>
	</tr>
	<tr class="bichro1">
		<td>Accompagnement du passage en Banque Ouverte - Module 2</td>
		<td><i>La démarche commerciale à l'accueil.</i><br />
			<u>Jour 1</u>  « Les produits et services du quotidien à l’accueil ».<br />
			- Maîtriser les produits et services du quotidien (cartes, Filbanque, téléphonie …): les caractéristiques, les fonctionnalités, la souscription…<br />
			<u>Jour 2</u> "La démarche commerciale à l’accueil ».<br />
			- La démarche commerciale à l'accueil : consolider le pacte relationnel, capter et enregistrer les informations, faire les démos (borne téléphonie, Filbanque), proposer et réaliser des ventes / produits et services du quotidien.
		</td>
		<td>2 j</td>
	</tr>
</table>
<br />